.header {
  font-family: "Inter", sans-serif;

  margin: 0 auto;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 22px;
}

.name {
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

header a,
button {
  font: inherit;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  transition: 0.1s ease-in;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transition: 0.01s ease-in;
    transform: translateY(0px);
  }
}

.profileGroup {
  display: flex;
  align-items: center;
  gap: 45px;
}

.signInBtn {
  height: min-content;
}

.signUpButton {
  border: 1px solid #52c41a;
  border-radius: 5px;
  color: #52c41a;

  width: 109px;
  height: 51px;
}

.signUpButton,
.createArticleBtn,
.logOutBtn {
  &:hover {
    box-shadow: 0 6px 2px -2px rgba(33, 33, 33, 0.2);
  }

  &:active {
    box-shadow: none;
  }
}

.createArticleBtn {
  color: #52c41a;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 6px 10px;
}

.logOutBtn {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  line-height: 28px;
  padding: 8px 18px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.profileBtn {
  display: flex;
  gap: 13px;
}

.avatar {
  border-radius: 50%;
}
